<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Recursos Humanos</title>
</head>
<body>
<div class="container">
    <h1>Recursos Humanos</h1>
    <h2>Recursos Humanos Finalizados</h2>
    <table class="table table-sm">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Hire_date</th>
            <th>End_date</th>
            <th>Años trabajados</th>
            <th>Meses trabajados</th>
        </tr>
        <tr th:each="recursoHumano : ${listaRecursosHumanos}">
            <td th:text="${recursoHumano.getNombre()}"></td>
            <td th:text="${recursoHumano.getApellido()}"></td>
            <td th:text="${recursoHumano.getFechaInicio()}"></td>
            <td th:text="${recursoHumano.getFechaFin()}"></td>
            <td th:text="${recursoHumano.getAñosTrabajados()}"></td>
            <td th:text="${recursoHumano.getMesesTrabajados()}"></td>
        </tr>
    </table>

    <h2>Recursos Humanos Activos</h2>
    <table class="table table-sm">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Hire_date</th>
            <th>End_date</th>
            <th>Años trabajados</th>
            <th>Meses trabajados</th>
        </tr>
        <tr th:each="recursoHumano2 : ${listaRecursosHumanosActivos}">
            <td th:text="${recursoHumano2.getNombre()}"></td>
            <td th:text="${recursoHumano2.getApellido()}"></td>
            <td th:text="${recursoHumano2.getFechaInicio()}"></td>
            <td th:text="${recursoHumano2.getFechaFin()}"></td>
            <td th:text="${recursoHumano2.getAñosTrabajados()}"></td>
            <td th:text="${recursoHumano2.getMesesTrabajados()}"></td>
        </tr>
    </table>

</body>
</html>


</tr>
</tbody>
</table>
</div>
</body>
</html>